:root {
  --color-primary: #217dcb;
  --color-secondary: #1b70bf;
  --color-accent: #217dcb;
  --color-headings: #000;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* ABOUT NAV BAR */
.about-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  background: #000;
  border-top: 1px solid #464646;
}

.about-nav > a {
  color: #d2d0db;
  transition: color 0.3s;
  font-size: 2rem;
}

.about-nav > a:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .about-nav {
    justify-content: center;
  }
  .about-nav > a {
    margin: 0 2rem;
    font-size: 1.6rem;
  }
}

/* ABOUT COIN SECTION */

.about--top {
  height: 70vh;
  width: 100vw;
  background: url("../images/about-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  text-align: center;
}

.about--top h2 {
  color: #fff;
}

.about {
  padding: 4rem;
}

.about__body > h2 {
  margin: 4rem 0;
}

@media screen and (min-width: 1024px) {
  .about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .about img {
    width: 40vw;
  }
  .about__body {
    width: 40%;
  }
}

/* Team Section */

.team-heading {
  padding: 2rem 4rem 0 4rem;
}

.team-memeber {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.team-memeber img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 2rem 0 0 0;
}

@media screen and (min-width: 1024px) {
  .team-heading {
    margin-left: 7rem;
  }

  .team-memeber {
    margin: 0 2rem;
    text-align: center;
  }
  .team-memeber img {
    width: 150px;
    height: 150px;
  }

  .team-heading {
    display: block;
  }
}
