:root {
  --color-primary: #217dcb;
  --color-secondary: #1b70bf;
  --color-accent: #217dcb;
  --color-headings: #000;
  --color-body: #9d9d9d;
  --color-body-darker: #797979;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.project {
  padding: 3rem;
}

.project__image {
  position: relative;
}

.project__body {
  margin: 2rem 0;
  font-size: 110%;
}

.pdf--button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--color-body);
  margin-top: 3rem;
}

.pdf--button:hover {
  box-shadow: 0 0 20px 10px #f3f3f3;
}

.pdf--icon {
  margin-right: 2rem;
  width: 40px;
  height: 40px;
}

.project--btn {
  margin: 0 auto;
  width: 50%;
  margin-top: 4rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.project--btn:hover {
  border: 1px solid var(--color-primary);
  color: #fff;
  background: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .project__body {
    margin: 5rem 0 0 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
  .project__image {
    margin: auto;
  }
}
